@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Crippled Mind Games Pizza!!!</h1>
    <h2>Crazy pizzas for your and me!</h2>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br/>
    <a class="nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">Give me the pizza!</a>


</div>
