@page
@model Pizza.Pages.Forms.CustomPizzaModel
@{
}


<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>

<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomPizza">CustomPizzas</a>
